# Ignorar archivos temporales
__pycache__/
*.pyc

# Ignorar entorno virtual de Python
venv/

# Ignorar archivo de configuración con datos privados
.env

# Ignorar carpeta de node (si se usa en el futuro)
node_modules/
